/* BODY */
body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
}


/* BOX - LEFT ALIGNED */
.box{
    width:350px;

    margin-left:auto;
    margin-right:auto;
    margin-top:10px;   /* top gap only */

    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    text-align:center;
}



/* LOGO */
.logo{
    width:100px;
    display:block;
    margin:0 auto 15px;
}


/* INPUTS */
input, textarea, button{
    width:100%;
    margin:6px 0;
    padding:10px;
    border-radius:6px;
    border:none;
}


/* TEXTAREA */
textarea{
    height:80px;
    background:#333;
    color:white;
}


/* BUTTONS */
button{
    background:#4CAF50;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.printBtn{
    background:#2196F3;
}

.logout{
    background:#ff5722;
}

.card{
    background:#2b2b2b;
    margin-top:10px;
    padding:10px;
    border-radius:6px;
}
